@use "./variables" as *;

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background-color: var(--color-white);
  color: var(--text-color-primary);
}

.button {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 4px;
  background-color: var(--button-background-primary);
  color: var(--button-foreground-primary);
  padding: 8px 15px;
  border: 0px;
  font-weight: var(--font-weight-medium);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-sm);
  cursor: pointer;
}
