.content {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xxl);

  .title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-xl);
    letter-spacing: var(--letter-spacing-md);
  }

  .description {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-regular);
    line-height: var(line0height-lg);
    letter-spacing: var(--letter-spacing-md);
    color: var(--color-grey200);
  }

  .form {
    display: flex;
    flex-direction: column;
    margin-top: var(--spacing-lg);
    gap: 10px;
  }
}
