:root {
  --color-white: #ffffff;
  --color-white100: #fafafa; // --typography-color-tertiary
  --color-black: #000000;

  --color-black100: #2a323c; // --typography-color-primary

  --color-grey100: #555f7c;
  --color-grey200: #5c6269; // --typography-color-secondary
  --color-grey300: #7d7a7a;
  --color-grey400: #87898c; // body text
  --color-grey500: #9ca8b4; // input field placeholders
  --color-grey600: #c6c6c6;
  --color-grey700: #d5dfe9;

  --color-blue000: #4d81b7; // spinner, brand color
  --color-blue100: #1871e8; // buttons

  // Overlays
  --overlay: #0000004d;
  --overlay-light: #d5dfe92b;

  // Shadows
  --shadow-modal: #00000040;
  --shadow-select: #00000033;
  --shadow-prompt: #00000080;

  // Buttons
  --button-background-primary: var(--color-blue100);
  --button-foreground-primary: var(--color-white);
  --button-background-secondary: var(--color-white);
  --button-foreground-secondary: var(--color-font-primary);

  // Fonts
  --font-family-nunito: "Nunito", sans-serif;
  --font-family-dosis: "Dosis", sans-serif;

  // Typography
  --font-family-primary: var(--font-family-nunito);
  --font-family-secondary: var(--font-family-dosis);

  // Font Sizes
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 18px;

  // Font Weights
  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  // Line Heights
  --line-height-xxs: 12px;
  --line-height-xs: 14px;
  --line-height-sm: 18px;
  --line-height-md: 20px;
  --line-height-lg: 22px;
  --line-height-xl: 24px;
  --line-height-xxl: 26px;

  // Letter Spacing
  --letter-spacing-xxs: -0.5px;
  --letter-spacing-xs: -0.25px;
  --letter-spacing-sm: 0px;
  --letter-spacing-md: 0.25px;
  --letter-spacing-lg: 0.5px;
  --letter-spacing-xl: 1px;
  --letter-spacing-xxl: 1.5px;

  // Text
  --text-color-primary: var(--color-black100);
  --text-color-secondary: var(--color-grey200);
  --text-color-tertiary: var(--color-white);

  // Spacing
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 20px;
  --spacing-xl: 24px;
  --spacing-xxl: 32px;

  // Border Radius
  --border-radius-xxs: 2px;
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 24px;

  // Border Width
  --border-width-xxs: 0.5px;
  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --border-width-md: 4px;
  --border-width-lg: 6px;
  --border-width-xl: 8px;
  --border-width-xxl: 10px;

  // Branding
  --color-brand-primary: var(--color-blue000);

  // Z-Index
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;
}
