.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 87px;
  width: 100%;
  max-width: 1025px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  font-size: var(--font-size-lg);
  font-family: var(--font-family-primary);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  gap: 12px;
}

.error {
  color: var(--color-red);
}

.spinner {
  width: 76px;
  height: 76px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top-color: var(--color-blue000);
  border-left-color: var(--color-blue000);
  border-right-color: var(--color-blue000);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 168px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
