.item {
  list-style: none;
  width: 100%;
  height: 87px;
  display: flex;
  border-style: solid;
  border-radius: var(--border-radius-xs);
  border-width: var(--border-width-xs);
  border-color: var(--color-grey700);
}

.itemChecked {
  background-color: var(--overlay-light);
  border-color: var(--overlay-light);

  .title {
    color: var(--color-blue000);
    text-decoration: line-through;
  }
  .description {
    text-decoration: line-through;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 0px 24px;
  cursor: pointer;
  color: #c6c6c6;
}

.checkboxChecked {
  color: var(--color-blue100);
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-content: center;
  justify-content: center;

  .title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
  }

  .description {
    font-size: var(--font-size-sm);
    color: var(--color-grey300);
  }
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  margin: 0px var(--spacing-xl);
}

.actionsButton {
  cursor: pointer;
  color: var(--color-grey100);
}
